# The timeout for the communication with the Pushover service (optional, defaults
# to 10000 milliseconds)
#defaultTimeout=

# You need to provide a Pushover API token to send to devices. If not here, than during
# the action call itself.
defaultToken=adjs41a8s7j7rf387c3s2pyxb8g88s

# You need to provide a Pushover User Key to send to devices. If not here, than during
# the action call itself.
defaultUser=u26n229gp5miswpypxdofjz1iqdp5m

# Name of the sending application (optional). Defaults to 'openHAB'.
defaultTitle=Sensorenheim

# The priority to use for messages if not specified otherwise. Can range from
# -2 (lowest) to 2 (highest)
#defaultPriority=0

# Url to attach to the message if not specified in the command (optional). Can be left empty.
#defaultUrl=

# Url Title to attach to the message if not specified in the command (optional). Can be left empty.
#defaultUrlTitle=

# When priority is high priority (2), how often in seconds should messages be resent. Defaults to 300 seconds.
#defaultRetry=

# When priority is high priority (2), how long to continue resending messages until acknowledged. Defaults to 3600 seconds.
#defaultExpire=
